defmodule <%= @app_module %>.Repo.Migrations.Create<%= @module %> do
  use Ecto.Migration

  def change do
    create table(:<%= @table %><%= if @use_binary_id, do: ", primary_key: false" %>) do
      <%= if @use_binary_id do %>
      add :id, :binary_id, primary_key: true
      <% end %>
      add :name, :string, null: false
      add :slug, :string, null: false
      add :host, :string
      timestamps()
    end

    create unique_index(:<%= @table %>, [:slug])
  end
end
